{% extends 'base.html' %}

{% block content %}


<div class="position-absolute shadow w-25 top-50 start-50 translate-middle">

    <div class="alert alert-success">
      <h2>Add new todo  </h2>
    </div>
    <div class="py-2 px-1 mb-5 bg-body">
        <form method="post" action="/add_todos">
            {% csrf_token %}
            <!-- {{form.as_p}} -->


            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" name="title" id="title">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" name="description" id="description">
            </div>
            <!-- <p>Status:</p>
            <select class="form-select" aria-label="Default select example">
                <option selected>----</option>
                <option value="1">completed</option>
                <option value="2">pending</option>
              </select> -->
              <br>
              <div class="mb-3">
                <label for="status" class="form-label">Status</label>
                <select id="status" name="status" class="form-select">
                  <option>----</option>
                  <option>Completed</option>
                  <option>Pending</option>
                </select>
              </div>
            <input type="submit" value="ADD" class="btn btn-info">
        </form>
    </div>
</div>


{% endblock %}